<!doctype html>
<html>
  <head>
    <title>About <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>About <%=shopName%></h1>
    <p>This is a ordering system for a restaurant feel free to order our available products</p>
  </body>
</html>