<!doctype html>
<html>
  <head>
    <h1><%=shopName%> : Suggest a new main course</h1>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
  <h1>Add a main course :</h1>
<form method="POST" action="/mainadded">
    <p>Starter name<input id="name" type="text" name="name" value="Default"></p>
    <p>Starter price<input id="price" type="text" name="price" value="Default"></p>
<input type="submit" value="addmain" />
</form>
  </body>
</html>