<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
      <h1>Welcome to <%=shopName%></h1>
    <div class="icon-bar">
      <p><a href="about">About <%=shopName%></a></p>
      <p><a href="search">Search for books</a></p>
      <p><a href="register">Register with us</a></p>
      <p><a href="login">Login with us</a></p>
      <p><a href="MenuList">Menu</a></p>
      <p><a href="addstarter">Add a new starter</a></p>
      <p><a href="addmain">Add a new main</a></p>
      <p><a href="adddessert">Add a new dessert</a></p>
      <p><a href="bargainbooks">Bargain Books</a><p>
      <p><a href="listusers">List of Users</a><p>
      <p><a href="deleteuser">Delete a user</a><p>
      <p><a href="logout">Log out</a><p>
      <p><a href="weather">Weather Forecast</a><p>
      <p><a href="Order">Order Food</a><p>

    </div>


  </body>
</html>
